<h1>Lessons</h1>

<ul>
  <% @lessons.each do |lesson| %>
    <li><%= lesson.number %> | <%= link_to lesson.name, lesson_path(lesson) %></li>
  <% end %>
</ul>

<p>
  <%= link_to "Create a New Lesson", new_lesson_path(@lessons) %>
</p>
